body {
 font-family: Arial,sans-serif;  
 margin:0;
 padding:0;
 background-color: var(--background-color,#f4f4f4); 
 color:var(--color,#333);
 transition: background-color 0.7s, color 0.5s;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color:var(--background-color, #d3d0d0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.1);
}

#task-form{
    justify-content: space-between;
    margin-bottom: 20px;
    
}

#task-form button{
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 22px;
    margin: 10px;
}

#task-form input{
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    margin:10px;
    font-size: 18px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
    color:#333;
}

li.completed{
    text-decoration: line-through;
    color: #888;
}

#theme-switcher{
    margin-top: 10px;
}



li button{
    background-color: var(--button-background);
    color:var(--button-color);
}    

#theme-switcher button{
    background-image: url('dia-y-noche.png');
    background-repeat: no-repeat;
    background-size: 30px;
    width: 35px;
    height: 35px;
}

body.dark-mode{
    --background-color:#333;
    --color:#fff;
    --button-background:#555;
    --button-color:#fff;
}

#category-filter{
    margin-bottom: 10px;
}

#filterCategory{
    padding: 5px;
}

.category{
    color:#0509f0;
    margin-left: 10px;
}

.h1{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.h1 button{
    margin-top: 10px;
}